
body {
    background-color: rgb(245, 245, 245);
    font-family: sans-serif;
    margin: 0px;
}

body section .section-title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 50px;
}
body section .section-content {
    text-align: justify;
    /* Barre de Navigation */
}
.main-navbar {
    position: fixed;
    top:0px ;
    left: 0px;
    right: 0px;
    height: 64px;
    background-color: rgb(248, 242, 242);
    box-shadow: 0px 3px 10px rgb(59, 59, 59);
    z-index: 100;
}
.main-navbar .logo {
    margin-top: 7px;
    margin-bottom: 7px;
    height: 50px;
}
.main-navbar .links-container {
    float: right;
    height: 64px;
    padding-left: 20px;
    height: 64px;
    margin: 0px;
}
.main-navbar .links-container li {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 7px 10px;
}
.main-navbar .links-container li:hover {
    background-color: rgb(39, 39, 39);
    cursor: pointer;
}
.main-navbar .links-container li a {
    color: #151515;
    text-decoration: none;
}
.main-navbar .links-container li:hover a {
    color: white;
}

header {
    min-height: 100vh;
    background-image: url("../top.jpg");
    background-size: cover;
    position: relative;
}
       /* En tete */
 header .header-content {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 20vh;
    }

header .header-content h1 {
    font-size: 80px;
}

header .header-content p {
    font-style: italic;
    font-size: 40px;
    text-align: center;
    color: white;
}
p {
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    border: 1px ;
}
#informations {
    min-height: 70vh;
    background-color: white;
}

#informations .signature {
    text-align: right;
}

#informations .right-content {
    background-image: url("../ressources/sophie.jpg");
    background-size: none;
    flex: 1;
}
/* Créations */
#creations {
    background-color: #151515;
    padding: 20px 20px;
    margin-right: 20px 20px;
    border-left: 20px;
}

#creations .section-title {
    color: white;
    text-align: center;
}
#creations .creations-container {
    font-display: flex;
    flex-wrap: wrap-reverse;
}
#creations .creations-container .picture-container {
    flex: 1;
    list-style: none;
    margin: 20px;
    flex-basis: 300px;
}

#creations .creations-container .picture-container img {
    width: 100%;
}

/* Tarifs */

#pricing {
    background-color: white;
}
#pricing .section-title {
    text-align: center;
}
#pricing .price-table {
    border-collapse: collapse;
}
#pricing .price-table th,
#pricing .price-table td {
    border: 1px solid #151515;
}
#pricing .price-table th {
    background-color: #151515;
    color: white;
}
table{
margin: auto;
}
td{
text-align :center;
}
body header  .section-title1  {
   text-align: center;
   margin: ;
   color: white;
}
body header .section-content1 {
    text-align: center;
    color: white;
}
#contact {
    background-color: #1c1c1d;
    padding: 20px 30px;
}
#contact .section-title {
    color: white;
    text-align: center;
}
#contact .contact-form {
    margin: auto;
    width: 50vw;
}
#contact .contact-form label {
    color: white;
}
#contact .contact-form input[type="text"],
#contact .contact-form input[type="email"],
#contact .contact-form textarea {
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    width: 100%;
}
#contact .contact-form .submit-button {
    width: 100px;
    border: 2px solid white;
    font-size: 15px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}
#contact .contact-form .submit-button:hover {
    background-color: white;
    color: #0a0a0a;
    cursor: pointer;
}
footer {
    background-color: #3a3a3a;
    color: white;
    text-align: center;
}